h1{
  text-align: center;
  text-decoration: underline;
}
.logotext h1{
  text-decoration: none;
  padding-top: 300px;
  font-size: 200px;
  font-weight: 900;
}
.logotext{
  color: white;
}
#quotes{
  text-align: center;
  font-size: 40px;
}

#logo{
   
    background-image: url('Images/logoinfront.jpg');
    height: 950px;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: 0.5;
    
      
}

#process{
  background-image: url('Images/IMG-2394.JPG');
        height: 950px;
        background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: 0.5;
}


#process{
  text-align: left;
}

#about{
  text-align: center;
}

#aboutDesc{
  text-align: center;
}

#teamwork{
  width: 500px;
  height: 350px;
  position: relative;
  left: 200px;
}

#alexaImg{
  width: 500px;
  height: 350px;
  margin-left: 50px;

}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.apiValue {
  text-align: center;
  color: white;

}


.apiTitle{
   text-align: center;
  color: white;
  text-decoration: underline;
}



.btn {
  position: absolute;
  
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  margin-top: 60px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.btn:hover {
  background-color: purple;
  opacity: 0.5;
  color: white;
}

#problem{
  margin-top: 45px;
  
  text-align: center;
  font-size: 25px;
}

#solution{
  margin-top: 55px;
  text-align: center;
  font-size: 40px;

}

#problemPic {
  float: right;
  /* opacity: 0.8; */
  background-repeat: no-repeat;
  width: 45%;
  height: 45%;
  margin-top: 130px;
  margin-left: 630px;
  position: absolute;
  top: 4.7em;
  padding:10px;
}

#solutionPic{
  /* opacity: 0.10; */
  background-repeat: no-repeat;
  width: 45%;
  height: 45%;
  margin-top: 690px;
  margin-left: 130px;
  padding:10px;
  top: 4.7em;

  position: absolute;
  /* top: 4.7em; */
}

#problemContainer{
  width: 90%;
  border: 10px solid black;
  border-radius: 5%;
  background-color:gray;
  color:white;
  opacity: 0.7;
  
  
}


#solutionContainer{
  width: 90%;
  border: 10px solid black;
  border-radius: 5%;
  background-color:gray;
  color:white;
  opacity: 0.8;
}

#mainDiv{
  padding: 20px;
}

#mainPage{
  background-image: url("Images/IMG-2397.JPG");
  background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
  
}